@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Londrina+Outline&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'fira-sans', sans-serif;
    font-weight: 300;
    color: black;
    background-image: url(../pictures/wood-background.jpg);
    background-repeat: repeat;
}

/* headings and logo */

#heading {
    background-color: black;
    width: 100%;
    height: 75px;
}

h1 {
    color: white;
    letter-spacing: 4px;

}

#logo {
    font-family: 'Londrina Outline', sans-serif;
    float: left;
    font-size: 350%;
}

/* navigation links */

#navigation {
    font-size: 140%;
    letter-spacing: 4px;
    vertical-align: middle;
}

#logo,
#navigation {
    line-height: 75px;
}

#navigation ul {
    float: right;
}

#navigation li {
    display: table-cell;
    list-style-type: none;
    padding: 15px;
    margin-right: 35px;
}

#navigation a {
    text-decoration: none;
    color: white;
}

#navigation a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}

/*Video*/

video {
    display: block;
    margin: auto;
    padding: 10px;
    width: 80%;
}

/* Main Section*/

.sections {
    width: 66%;
    margin: 35px auto;
    height: 300px;
    background-color: black;
    color: white;
    text-align: center;
}

.resize {
    height: 100%;
    width: auto;
}

.sections-body {
    width: 70%;
    height: 100%;
    margin: auto;
}

.section-headings {
    clear: both;
    line-height: 35px;
    width: 100%;
    margin: auto;
    font-size: 150%;
}

hr {
    border-top: 1px solid white;
    width: 100%;
    margin: 5px 0;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.section-text {
    margin: 10px;
}

#no-border {
    border: none;
    color: black;
}

.images {
    height: 100%;
    width: 30%;
    overflow: hidden;
}

#menu-span {
    background-color: white;
    display: inline-block;
    height: 30px;
    width: 70px;
    border-radius: 30%;
}

#menu-button {
    text-decoration: none;
    color: black;
    font-size: 125%;
    vertical-align: middle;
}

/* Opening Times table */

#timetable {
    height: 80%;
    margin: auto;
}

/* Google maps embed */

#map-div {
    background-color: black;
    color: white;
    height: 325px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    overflow: hidden;
}

#map {
    height: 300px;
    width: 100%;
}

/* Menu styling*/

.menu-div {
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    text-align: center;
}

/*Reservation form*/
.reservation-div {
    width: 45%;
    height: 700px;
    margin: 15px auto;
    background: transparent;
    font-size: 150%;
    padding: 10px;
    text-align: center;
}

.reservation-form {
    width: 100%;
    height: 80%;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}


input {
    display: inline-block;
    font-size: 110%;
    border: 1px solid black;
    padding: 15px;
    width: 35%;
    margin: 5px 5%;
}

#submit {
    width: 80%;
    margin: auto;
}

/*footer section*/

footer {
    height: 150px;
    background-color: black;
    bottom: 0;
    width: 100%;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 2%;
}

/* Media Queries*/

@media screen and (max-width: 1200px) {
    #navigation {
        font-size: 120%;
        letter-spacing: 2px;
        vertical-align: middle;
    }

    #navigation ul {
        float: right;
    }

    #navigation li {
        padding: 5px;
        margin-right: 5px;
    }

    video {
        display: block;
        margin: auto;
        padding: 10px;
        width: 90%;
    }

    .sections {
        width: 90%;
        height: 300px;
    }

    .menu-div {
        width: 100%;
    }

    .menu-img {
        width: 100%;
    }

    input {
        display: inline-block;
        font-size: 110%;
        border: 1px solid black;
        padding: 15px;
        width: 50%;
        margin: 5px 5%;
    }

    .reservation-div {
        width: 90%;
        height: 770px;
        margin: auto;
    }

    textarea {
        resize: none;
    }

}