@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Londrina+Outline&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'fira-sans', sans-serif;
    font-weight: 300;
    color: red;
}

/* headings and logo */

#heading {
    background-color: black;
    width: 100%;
    height: 70px;
    position: fixed;
}

h1 {
    color: white;
    letter-spacing: 4px;

}

#logo {
    font-family: 'Londrina Outline', sans-serif;
    float: left;
    font-size: 350%;
}

/* navigation links */

#navigation {
    font-size: 140%;
    letter-spacing: 4px;
    vertical-align: middle;
}

#logo,
#navigation {
    line-height: 75px;
}

#navigation ul {
    float: right;
    vertical-align: middle;
}

#navigation li {
    display: table-cell;
    list-style-type: none;
    padding: 15px;
    margin-right: 35px;
}

#navigation a {
    text-decoration: none;
    color: white;
}

#navigation a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}

#tester {
    width: 100%;
    height: 1500px;
}